<template>
  <div class="BannerFilm">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="banner-content">
            <div class="banner-content-title">HURRY UP !</div>
            <p class="banner-content-text">Unlimited <span>Movie</span></p>
            <p class="banner-content-entertainment">Entertainment</p>
            <div class="banner-content-suggesters">
              <a style="margin-left: -18px" href="#LastestMovie"
                ><p>Suggested</p></a
              >
              <a @click="c2method" href="#LastestMovie"><p>Originals</p></a>
              <a href="#LastestMovie"><p>Actions</p></a>
              <a href="#LastestMovie"><p>Horror</p></a>
              <a href="#LastestMovie"><p>Romance</p></a>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="box-images">
            <img
              class="banner-img1"
              src="https://image.tmdb.org/t/p/original/61PVJ06oecwvcBisoAQu6SDfdcS.jpg"
              alt="banner1"
            />
            <img
              class="banner-img2"
              src="https://image.tmdb.org/t/p/original//9YTuscJXmr9Iua62amCgGSU8PDW.jpg"
              alt="banner2"
            />
            <img
              class="banner-img3"
              src="https://image.tmdb.org/t/p/original/nkCbCmlwjwT6QL44DqG7qE9ch8H.jpg"
              alt="banner3"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      
    };
  },
  methods: {
    c2method: function () {
      this.$root.$emit("component1"); //like this
    },
  },
};
</script>

<style lang="css" scoped>
.BannerFilm {
  background: url(../../public/images/slider_bg01.jpg);
}
.banner-content {
  color: #fff;
  padding: 100px 0;
  padding-bottom: 200px;
}
.banner-content-title {
  font-size: 32px;
  font-weight: 600;
}
.banner-content-text {
  font-size: 62px;
  font-weight: 600;
}
.banner-content-text span {
  color: #e8d60b;
}
.banner-content-entertainment {
  font-size: 46px;
  margin-top: -20px;
}
.banner-content-suggesters {
  display: flex;
}
.banner-content-suggesters a {
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  transition: all 0.3s ease-in-out;
}
.banner-content-suggesters a :hover {
  color: #e8d60b;
}
.banner-content-suggesters a p {
  margin: 6px 20px;
  margin-top: 2px;
  transition: all 0.3s ease-in-out;
}
.box-images {
}
.box-images {
  position: relative;
}
.box-images img {
  max-width: 300px;
  max-height: 420px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s linear;
}
.banner-img1 {
  position: absolute;
  left: 100px;
  top: 80px;
  z-index: 3;
}
.banner-img2 {
  position: absolute;
  left: 130px;
  top: 60px;
  z-index: 2;
}
.banner-img3 {
  position: absolute;
  left: 160px;
  top: 40px;
  z-index: 1;
}
.box-images img:hover {
  transform: scale(1.1);
}
</style>
