<template>
  <div class="FilterFilm">
    <div class="container">
      <div class="lastest-menu">
        <div class="row">
          <div class="col-lg-6">
            <div class="lastest-menu-title">
              <div class="mini-original_title">
                {{ miniName }}
              </div>
              <div class="large-original_title">
                {{ bigName }}
              </div>
            </div>
          </div>
          <div class="col-lg-6"></div>
        </div>
      </div>

      <div class="content">
        <div class="row">
          <div class="col-lg-8"></div>
          <div class="col-lg-4">
            <VueSlickCarousel v-bind="setting">
              <div
                class="vertical-box"
                v-for="(film, index) in listFilm"
                :key="index"
              >
                <div class="vertical-box-item d-flex">
                  <img :src="baseImages + film.backdrop_path" alt="" />
                  <div class="vertical-info">
                    <div class="head-info d-flex">
                      <div class="quality">FHD</div>
                      <div class="rating-group d-flex">
                        <p class="rating">{{ film.vote_average }}</p>
                        <i class="bi bi-star-fill"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </VueSlickCarousel>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import VueSlickCarousel from "vue-slick-carousel";
import "vue-slick-carousel/dist/vue-slick-carousel.css";
// optional style for arrows & dots
import "vue-slick-carousel/dist/vue-slick-carousel-theme.css";

export default {
  components: { VueSlickCarousel },
  name: "FilterFilm",
  data() {
    return {
      setting: {
        dots: true,
        infinite: true,
        slidesToShow: 3,
        slidesToScroll: 1,
        vertical: true,
        verticalSwiping: true,
      },
      baseImages: "https://image.tmdb.org/t/p/original/",
      miniName: "Lastest Movies",
      bigName: "Latest Movies & TV Shows",
      listFilm: [1, 5, 5, 2],
    };
  },
  methods: {},
  mounted() {
    axios
      .get(
        `https://api.themoviedb.org/3/trending/all/day?api_key=4ce76aad80124054e6ba8b9135959ef7`
      )
      .then((response) => {
        this.listFilm = response.data.results;
        console.log(this.listFilm);
      })
      .catch((e) => {
        this.errors.push(e);
      });
  },
};
</script>

<style lang="css" scoped>
.FilterFilm {
  padding-bottom: 100px;
  background-image: url("https://themeadapt.com/tm/popco-live/assets/img/bg/continue_watch_bg.jpg");
}
.mini-original_title {
  color: #e8d60b;
  font-weight: 700;
  padding-top: 30px;
}
.large-original_title {
  color: #fff;
  font-weight: 700;
  font-size: 46px;
}
.btnType {
  margin-top: 70px;
  background-color: #e8d60b;
  padding: 10px 40px;
  transition: all 0.3s ease-in-out;
}
.btnType:hover {
  background-color: #fff;
  box-shadow: 10px 10px 5px #e8d60b;
}
.btnType:focus {
  background-color: #fff;
  box-shadow: 10px 10px 5px #e8d60b;
}
.dropdown-menu {
  background: rgba(255, 255, 255, 0.8);
}
.dropdown-item {
  transition: all 0.2s ease-in-out;
}
.dropdown-item:hover {
  color: #e8d60b;
}
.vertical-box-item {
  width: 80%;
  height: 140px;
}
.vertical-box-item img {
  width: 60%;
  height: 100%;
  object-fit: cover;
}
.rating-group {
}
.rating {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  margin-right: 12px;
}
.rating-group i {
  color: #e8d60b;
}
.quality {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  margin-left: 20px;
  background: #e8d60b;
  padding: 2px 6px;
  border-radius: 4px;
}
.vertical-info {
  position: relative;
  background: #000;
  width: 100%;
}
</style>
<!-- https://api.themoviedb.org/3/genre/movie/list?api_key=4ce76aad80124054e6ba8b9135959ef7&language=en-US -->
