<template>
  <div class="LastestMovie" id="LastestMovie">
    <div class="container">
      <div class="lastest-menu">
        <div class="row">
          <div class="col-lg-6">
            <div class="lastest-menu-title">
              <div class="mini-original_title">
                {{ miniName }}
              </div>
              <div class="large-original_title">
                {{ bigName }}
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="menu-lastest">
              <p @click="getFilmWar()">War</p>
              <p @click="getFilmAction()">Action</p>
              <p @click="getFilmHorror()">Horror</p>
              <p @click="getFilmRomance()">Romance</p>
            </div>
          </div>
        </div>
      </div>

      <div class="card-group">
        <div
          class="card-film"
          v-for="(listfilm, index) of listFilms"
          :key="index"
        >
          <div
            @click="getDetail(index)"
            class="btn card-film-item"
            data-bs-target="#myModal"
            data-bs-toggle="modal"
          >
            <img :src="baseImages + listfilm.poster_path" alt="" />

            <div class="card-film-content">
              <div class="main-info">
                <p class="quality">FHD</p>
                <p v-if="listfilm.title !== null" class="name-movie">
                  {{ listfilm.title }}
                </p>
                <p v-if="listfilm.name !== null" class="name-movie">
                  {{ listfilm.name }}
                </p>
              </div>
              <div class="more-info">
                <p style="color: aliceblue" class="year">
                  {{ moment(listfilm.release_date).format("DD/MM/yyyy") }}
                </p>
                <p class="minutes"></p>
                <div class="rating-group d-flex">
                  <p class="rating">{{ listfilm.vote_average }}</p>
                  <i class="bi bi-star-fill"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal -->
      <div class="py-2">
        <div class="modal" id="myModal">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header position-relative">
                <img
                  :src="
                    detailObj.backdrop_path
                      ? baseImages + detailObj.backdrop_path
                      : ' '
                  "
                  alt=""
                />
                <div class="btnPlayModal">
                  <i class="bi bi-caret-right-fill"></i>
                  <p>Play</p>
                </div>
              </div>
              <div class="modal-body">
                <p class="modal-body-title">
                  {{ detailObj.title || detailObj.name }}
                </p>
                <p class="modal-body-overview">{{ detailObj.overview }}</p>
                <div class="modal-footer d-block">
                  <p style="color: #fff" class="info">
                    Info on {{ detailObj.title || detailObj.name }}
                  </p>
                  <p class="genres">
                    {{ genres_name }}
                  </p>
                  <div class="more-info">
                    <p style="margin: 0 !important" class="year">
                      {{ moment(detailObj.release_date).format("DD/MM/yyyy") }}
                    </p>
                    <p class="minutes"></p>
                    <div class="rating-group d-flex">
                      <p class="rating">{{ detailObj.vote_average }}</p>
                      <i class="bi bi-star-fill"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
// import moment from "moment";

export default {
  name: "LastestMovie",
  data() {
    return {
      listFilms: [],
      baseImages: "https://image.tmdb.org/t/p/original/",
      apiKey: "4ce76aad80124054e6ba8b9135959ef7",
      baseUrl: "https://api.themoviedb.org/",
      miniName: "Lastest Movies",
      bigName: "Latest Movies & TV Shows",
      detailObj: {},
      genresArray: [],
      genres_name: "genres",
      index: 0,
    };
  },
  created() {
    this.$root.$refs.LastestMovie = this;
  },
  methods: {
    getFilmWar: function () {
      axios
        .get(
          `https://api.themoviedb.org/3/discover/movie?api_key=4ce76aad80124054e6ba8b9135959ef7&with_genres=10752`
        )
        .then((response) => {
          this.listFilms = response.data.results;
        })
        .catch((e) => {
          this.errors.push(e);
        });
      this.miniName = "War Movies";
      this.bigName = "War Movies & TV Shows";
    },
    getFilmAction: function () {
      axios
        .get(
          `https://api.themoviedb.org/3/discover/movie?api_key=4ce76aad80124054e6ba8b9135959ef7&with_genres=28`
        )
        .then((response) => {
          this.listFilms = response.data.results;
        })
        .catch((e) => {
          this.errors.push(e);
        });
      this.miniName = "Action Movies";
      this.bigName = "Action Movies & TV Shows";
      this.$emit("changeWarMovie");
    },
    getFilmHorror: function () {
      axios
        .get(
          `https://api.themoviedb.org/3/discover/movie?api_key=4ce76aad80124054e6ba8b9135959ef7&with_genres=27`
        )
        .then((response) => {
          this.listFilms = response.data.results;
        })
        .catch((e) => {
          this.errors.push(e);
        });
      this.miniName = "Horror Movies";
      this.bigName = "Horror Movies & TV Shows";
    },
    getFilmRomance: function () {
      axios
        .get(
          `https://api.themoviedb.org/3/discover/movie?api_key=4ce76aad80124054e6ba8b9135959ef7&with_genres=10749`
        )
        .then((response) => {
          this.listFilms = response.data.results;
        })
        .catch((e) => {
          this.errors.push(e);
        });
      this.miniName = "Romance Movies";
      this.bigName = "Romance Movies & TV Show";
    },
    getDetail: function (index) {
      this.detailObj = this.listFilms[index];
      console.log("detail", this.detailObj);
      this.detailObj.genre_ids.forEach((element) => {
        console.log(element);
        if (element == 28) {
          this.genres_name = "Action";
        } else if (element == 12) {
          this.genres_name = "Adventure";
        } else if (element == 16) {
          this.genres_name = "Animation";
        } else if (element == 35) {
          this.genres_name = "Comedy";
        } else if (element == 99) {
          this.genres_name = "Documentary";
        } else if (element == 10751) {
          this.genres_name = "Family";
        } else if (element == 14) {
          this.genres_name = "Fantasy";
        } else if (element == 27) {
          this.genres_name = "Horror";
        } else if (element == 10749) {
          this.genres_name = "Romance";
        } else if (element == 10257) {
          this.genres_name = "War";
        }
      });
    },
  },
  mounted() {
    axios
      .get(
        `https://api.themoviedb.org/3/trending/all/day?api_key=4ce76aad80124054e6ba8b9135959ef7`
      )
      .then((response) => {
        this.listFilms = response.data.results;
        console.log(this.listFilms);
      })
      .catch((e) => {
        this.errors.push(e);
      });
  },
};
</script>

<style lang="css" scoped>
.LastestMovie {
  padding: 40px 0px 100px 0;
  background: #000;
}
.mini-original_title {
  color: #e8d60b;
  font-weight: 700;
}
.large-original_title {
  color: #fff;
  font-weight: 700;
  font-size: 46px;
}
.menu-lastest {
  margin-top: 40px;
  display: flex;
  color: #fff;
  justify-content: flex-end;
}
.menu-lastest p {
  cursor: pointer;
  font-size: 18px;
  margin-right: 30px;
  border: 1px solid #e8d60b;
  padding: 6px 22px;
  border-radius: 12px;
  transition: all 0.3s linear;
}
.menu-lastest p:hover {
  background: #e8d60b;
  color: #000;
}
.card-film-item {
  cursor: pointer;
  position: relative;
  display: block;
  width: 280px;
  height: 400px;
  opacity: 0.8;
  transition: all 0.3s ease;
}
.card-film-item:hover {
  opacity: 1.2;
  transform: scale(1.1);
}
.card-film-item:hover > .card-film-content {
  opacity: 1;
}
.card-film-item img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 12px;
}
.name-movie {
  color: #fff;
}
.card-film-content {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(13, 12, 12, 0.8);
  opacity: 0;
  transition: all 0.3s linear;
}
.card-film {
  display: grid !important;
  grid-template-columns: auto auto auto;
  padding: 40px 10px;
  margin: 0 auto;
}
.name-movie {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
}
.year {
  color: #e8d60b !important;
  text-align: left;
  font-size: 16px;
  font-weight: 700;
  margin-left: 12px;
}
.main-info {
  display: flex;
  padding: 4px 10px;
}
.quality {
  font-weight: 700;
  padding: 0px 6px;
  line-height: 24px;
  height: 28px;
  background: #e8d60b;
  border-radius: 4px;
  margin-right: 12px;
}
.more-info {
  display: flex;
  justify-content: space-between;
}
.rating-group {
  margin-right: 10px;
}
.rating {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  margin-right: 12px;
}
.rating-group i {
  color: #e8d60b;
}
.modal {
  width: 100%;
  padding: 0 !important;
}
.modal-body {
  background: #000 !important;
  box-shadow: 8px 15px 20px rgb(237 9 0);
  border-radius: 0 0 8px 8px;
}
.modal-header {
  display: block;
  padding: 0 !important;
  border-radius: 8px;
}
.modal-header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 8px 15px 20px rgb(193, 27, 21);
}
.btnPlayModal {
  width: 34%;
  height: 36px;
  display: flex;
  border-radius: 8px;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: rgba(251, 31, 31, 0.9);
  transition: all 0.3s ease-in-out;
  position: absolute;
  bottom: 8%;
  left: 6%;
  cursor: pointer;
}
.btnPlayModal:hover {
  background: rgba(255, 255, 255, 0.9);
  color: red;
}
.btnPlayModal p {
  margin-top: 14px;
}

.modal-body-title {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}
.modal-body-overview {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  text-align: justify;
}
.genres {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  text-align: justify;
}
.modal-footer {
  margin-top: 16px;
  padding: 10px 0 !important;
  border-top: 1px solid red !important;
}
</style>
