<template>
  <div class="MenuItem">
    <div class="filmNavbar">
      <div class="container">
        <nav class="navbar navbar-light">
          <div class="container-fluid">
            <a class="navbar-brand">
              <img src="../../public/images/logo.png" alt="" />
            </a>
            <div class="category">
              <p class="cate-name">category</p>
              <div class="cate-box">
                <a href="">
                  <p>Action Movies</p>
                </a>
                <a href="">
                  <p>Cartoon Movies</p>
                </a>
                <a href="">
                  <p>Romance Movies</p>
                </a>
                <a href="">
                  <p>Documentaries</p>
                </a>
              </div>
            </div>

            <form class="d-flex">
              <input
                class="form-control me-2"
                type="search"
                placeholder="Search"
                aria-label="Search"
              />
              <a href="/search">
                <button class="btn btn-outline-success" type="submit">
                  Search
                </button>
              </a>
            </form>
          </div>
        </nav>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style lang="css" scoped>
.MenuItem {
  background: #000;
}
.navbar {
  position: relative;
}
.navbar-brand img {
  cursor: pointer;
}
.btn-outline-success {
  color: #000;
  background: #e8d60b;
  border: none;
  transition: all 0.3s ease-in-out;
}
.btn-outline-success:hover {
  background: #fff;
  color: #000;
}
.category {
  height: 36px;
  display: block;
  margin: 0px auto;
  padding: 0px 20px;
  color: #000;
  border-radius: 6px;
  background: #e8d60b;
  position: absolute;
  left: 16%;
  justify-content: center;
  align-items: center;
}
.cate-name {
  font-size: 20px;
  font-weight: 400;
}
a {
  text-decoration: none;
}
.cate-box {
  background: #fff;
  padding: 12px 24px;
  border: 1px solid #000;
  border-radius: 6px;
  opacity: 0;
  transition: all 0.4s ease;
}
.cate-name {
  margin-left: 40px;
}
.cate-box a {
  text-align: left;
}
.cate-box p {
  text-align: left;
  color: #000;
}
.category:hover > .cate-box {
  opacity: 1;
}
</style>
