<template>
  <div class="SliderFilm">
    <div class="container">
      <div class="lastest-menu">
        <div class="row">
          <div class="col-lg-6">
            <div class="lastest-menu-title">
              <div class="mini-original_title">
                {{ miniName }}
              </div>
              <div class="large-original_title">
                {{ bigName }}
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="dropdown">
              <button
                class="btn dropdown-toggle btnType"
                type="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Type
              </button>
              <ul
                class="dropdown-menu"
                v-for="(type, index) in listType"
                :key="index"
              >
                <li>
                  <a class="dropdown-item" href="#">{{ type }}</a>
                </li>

                <!-- <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Adventure</a></li>
                <li><a class="dropdown-item" href="#">Comedy</a></li>
                <li><a class="dropdown-item" href="#">Documentary</a></li>
                <li><a class="dropdown-item" href="#">Drama</a></li>
                <li><a class="dropdown-item" href="#">Fantasy</a></li>
                <li><a class="dropdown-item" href="#">History</a></li>
                <li><a class="dropdown-item" href="#">Horror</a></li>
                <li><a class="dropdown-item" href="#">Music</a></li>
                <li><a class="dropdown-item" href="#">Mystery</a></li>
                <li><a class="dropdown-item" href="#">Romance</a></li>
                <li><a class="dropdown-item" href="#">War</a></li>
                <li><a class="dropdown-item" href="#">Western</a></li> -->
              </ul>
            </div>
          </div>
        </div>
      </div>
      <VueSlickCarousel :dot="true" v-bind="setting">
        <div class="box" v-for="(listfilm, index) of listfilms" :key="index">
          <div class="card-film-item">
            <img :src="baseImages + listfilm.poster_path" alt="" />
            <div class="card-film-content">
              <div class="main-info">
                <p class="quality">FHD</p>
                <p v-if="listfilm.title !== null" class="name-movie">
                  {{ listfilm.title }}
                </p>
                <p v-if="listfilm.name !== null" class="name-movie">
                  {{ listfilm.name }}
                </p>
              </div>
              <div class="more-info">
                <p style="color: aliceblue" class="year">
                  {{ moment(listfilm.release_date).format("DD/MM/yyyy") }}
                </p>
                <p class="minutes"></p>
                <div class="rating-group d-flex">
                  <p class="rating">{{ listfilm.vote_average }}</p>
                  <i class="bi bi-star-fill"></i>
                </div>
              </div>
              <div class="watch">Watch</div>
            </div>
          </div>
        </div>
      </VueSlickCarousel>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import VueSlickCarousel from "vue-slick-carousel";
import "vue-slick-carousel/dist/vue-slick-carousel.css";
// optional style for arrows & dots
import "vue-slick-carousel/dist/vue-slick-carousel-theme.css";

export default {
  components: { VueSlickCarousel },
  data() {
    return {
      setting: {
        dots: true,
        speed: 500,
        focusOnSelect: true,
        infinite: true,
        slidesToShow: 4,
        slidesToScroll: 2,
        touchThreshold: 5,
        autoplay: true,
      },
      listfilms: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
      listType: ["Action", "Adventure", "Animation", "Comedy"],
      miniName: "Trending Movies",
      bigName: "Trending Movies & TV Shows",
      baseImages: "https://image.tmdb.org/t/p/original/",
    };
  },
  methods: {},
  mounted() {
    axios
      .get(
        `https://api.themoviedb.org/3/trending/all/day?api_key=4ce76aad80124054e6ba8b9135959ef7`
      )
      .then((response) => {
        this.listfilms = response.data.results;
        console.log(this.listfilms);
      })
      .catch((e) => {
        this.errors.push(e);
      });
  },
};
</script>

<style lang="css" scoped>
.SliderFilm {
  background: #000;
}
.box {
  padding: 40px 0;
  cursor: pointer;
  opacity: 0.8;
  transition: all 0.3s ease-in-out;
}
.box:hover {
  opacity: 1;
}
.box img {
  width: 300px;
  height: 400px;
  border-radius: 12px;
}
.box-slider-title {
  color: #000;
}
.card-film-item {
  cursor: pointer;
  position: relative;
  display: block;
  width: 280px;
  height: 400px;
  opacity: 0.8;
  transition: all 0.3s ease;
}
.card-film-item:hover {
  opacity: 1.2;
}
.card-film-item:hover > .card-film-content {
  opacity: 1;
}
.card-film-item img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 12px;
}
.slick-dots {
  background-color: #fff;
  color: #000;
}
.name-movie {
  color: #fff;
}
.card-film-content {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(13, 12, 12, 0.8);
  opacity: 0;
  transition: all 0.3s linear;
  border-radius: 0 0 12px 12px;
}
.card-film {
  display: grid !important;
  grid-template-columns: auto auto auto;
  padding: 40px 10px;
  margin: 0 auto;
}
.name-movie {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
}
.watch {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  padding: 6px 12px;
  border-radius: 20px;
  max-width: 60%;
  margin: 12px auto;
  background: #e8d60b;
  border: 1px solid #fff;
  transition: all 0.3s ease-in-out;
}
.watch:hover {
  background: #e8d60b;
  border: 1px solid #fff;
  border: 1px solid #000;
  color: #000;
}
.year {
  color: #e8d60b !important;
  text-align: left;
  font-size: 16px;
  font-weight: 700;
  margin-left: 12px;
}
.main-info {
  display: flex;
  padding: 4px 10px;
}
.quality {
  font-weight: 700;
  padding: 0px 6px;
  line-height: 24px;
  height: 28px;
  background: #e8d60b;
  border-radius: 4px;
  margin-right: 12px;
}
.more-info {
  display: flex;
  justify-content: space-between;
}
.rating-group {
  margin-right: 10px;
}
.rating {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  margin-right: 12px;
}
.rating-group i {
  color: #e8d60b;
}
.card-film-content {
  position: absolute;
  bottom: -40px;
  width: 100%;
  background: rgba(13, 12, 12, 0.9);
  opacity: 0;
  transition: all 0.3s linear;
}
.slick-slider {
  padding-left: 30px;
}

.mini-original_title {
  color: #e8d60b;
  font-weight: 700;
  padding-top: 30px;
}
.large-original_title {
  color: #fff;
  font-weight: 700;
  font-size: 46px;
}
.btnType {
  margin-top: 70px;
  background-color: #e8d60b;
  padding: 10px 40px;
  transition: all 0.3s ease-in-out;
}
.btnType:hover {
  background-color: #fff;
  box-shadow: 10px 10px 5px #e8d60b;
}
.btnType:focus {
  background-color: #fff;
  box-shadow: 10px 10px 5px #e8d60b;
}
.dropdown-menu {
  background: rgba(255, 255, 255, 0.8);
}
.dropdown-item {
  transition: all 0.2s ease-in-out;
}
.dropdown-item:hover {
  color: #e8d60b;
}
</style>
