<template>
  <div id="app">
    <MenuFilm />
    <BannerFilm />
    <SliderFilm />
    <LastestMovie />
    <FilterFilm />
  </div>
</template>

<script>
import MenuFilm from "../src/components/MenuFilm.vue";
import BannerFilm from "../src/components/BannerFilm.vue";
import SliderFilm from "../src/components/SliderFilm.vue";
import LastestMovie from "../src/components/LastestMovie.vue";
import FilterFilm from "../src/components/FilterFilm.vue";

export default {
  name: "App",
  components: {
    MenuFilm,
    BannerFilm,
    SliderFilm,
    LastestMovie,
    FilterFilm,
  },
};
</script>

<style>
#app {
}
</style>
